{% extends 'base.html' %}
{% block content  %}
    
    <h2 class="text-center">{{ page_title }}</h2>

        {% for book in books %}
        
<div class="card-deck">   
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h4 class="card-title" id="title">{{book.book_name}}</h4>
      <h5 class="card-subtitle mb-2" id="author">{{book.author_name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted" id="genres">{{book.genre}}</h6>
      <p class="card-text" id="blurb">{{book.summary}}</p>
      <h6 class="card-subtitle mb-2 text-muted" id="user"> {{book.added_by}}</h6>
      <button><a href="https://www.bookdepository.com/" target="_blank" class="card-link">Buy</a></button>
  </div>
</div>
</div>


{% endfor %}

    
{% endblock %}