{% extends 'base.html' %}
{% block content  %}
    
    <h2 class="text-center">{{ page_title }}</h2>

    <div class="container">
   
<form action="{{ url_for('create') }}" method="post">
    
    <label for="book_name">Title</label> 
    <input type="text" name="book_name"><br>
    
    <label for="author_name">Author</label> 
     <input type="text" name="author_name"><br>
    
    <label for="genre">Genre </label> 
    <input type="text" name="genre"><br>
    
    <label for="summary">Summary</label> 
    <input type="text" name="summary"><br>
    
    <label for="added_by">Added By</label> 
    <input type="text" name="added_by"><br>



    <input type="submit" value="Submit">
</form>

   
    </div>

   

{% endblock %}