{% extends 'base.html' %}
{% block content  %}
    
 <div class="container">
 
 <div class="row">
 <div class="col">
 <h3 class="text-center" id="philosophy">Philosophy</h3>
  <p class="text-center ">It's not about the amount of books you read, but rather the lessons you learn from the books you read.<br>
  Minimalist Reading is a collection of the most influential books as chosen by the users of the site</p>
 <img class="img-fluid images-home" src="static/img/library.jpg" alt="library">
 </div>
 </div>

 <div class="row">
 <h3>How It Works</h3>
 </div>
 
 <div class="row">
 <div class="col-md-3">
 
 <h3>Submit</h3>
 <p>Enter the details of <em>'the book'</em> you would take with you to a desert island, the book that has had the biggest impact on your life</p>
 </div>

 <div class="col-md-9">
 <img class="img-fluid images-home" src="static/img/typewriter.jpg" alt="typewriter">
 </div>

 </div>
 
 
 <div class="row">

 <div class="col-md-9">
 <img class="img-fluid images-home" src="static/img/girl-with-book.jpg" alt="girl holding book">
</div>

<div class="col-md-3">
 <h3>Browse</h3>
  <p>Browse through the other user's uploads to find ideas for the next book you should read</p>
</div>


 
 </div>
 
 
 </div>


{% endblock %}