{% extends 'base.html' %}
{{ block_title }}
{% block content  %}
<div class="container">
   <div class="row">
      <div class="col">
         <h3 class="text-center" id="philosophy">Philosophy</h3>
         <p class="text-center ">It's not about the amount of books you read, but rather the lessons you learn from the books you read.</p>
      </div>
   </div>
   <!--   Card Deck -->
   <div class="card-deck images-home">
      <div class="card">
         <h5 class="card-title text-center py-4"><a href="{{ url_for('about') }}">About</a></h5>
         <img class="card-img-top img-fluid" src="static/img/small-girl-with-book.jpg" alt="girl holding book">
         <div class="card-body">
            <p class="card-text">Minimalist Reading is a collection of the most influential books as chosen by the users of the site</p>
         </div>
      </div>
      <div class="card">
         <h5 class="card-title text-center py-4"><a href="{{ url_for('submit') }}">Submit</a></h5>
         <img class="card-img-top img-fluid" src="static/img/small-typewriter.jpg" alt="small typewriter">
         <div class="card-body">
            <p class="card-text">Enter the details of the <em>'one book'</em> you would take with you to a desert island, the book that has had the biggest impact on your life</p>
         </div>
      </div>
      <div class="card">
         <h5 class="card-title text-center py-4"><a href="{{ url_for('browse') }}">Browse</a></h5>
         <img class="card-img-top img-fluid" src="static/img/small-library.jpg" alt="library">
         <div class="card-body">
            <p class="card-text">Browse through our uploads to find some great suggestions for the next book you <em>'must'</em> read</p>
         </div>
      </div>
   </div>
</div>
{% endblock %}