<p>

Build a book review and recommendation site.

External user’s goal:
Find books they would like to read.

Site owner's goal:
Earn money on each book purchased via a link from the site.

Potential features to include:
Create a web application that allows users to upload details of books, including book name, author name, link to cover image and any other relevant fields. Allow users to write comments about any book and upvote it.

Create the backend code and frontend form(s) to allow users to add new books and reviews to the site, edit them and delete them.</p>